<section>
  <div class="i_crises_container">
    <!-- <div class="container"> -->

    <div class="i_criese_list">
      <div class="i_1 i_comoon">
        <div class="i_face_fail">Facebook PR Fail</div>
        <img src="assets/failbook.jpg" class="i_img">
      </div>
      <div class="i_2 i_comoon">
        <div class="text_crises">
          <div class="heighlighted">Crises</div>
          <div class="else_text">
            Reflecting the <br>increasing corporate
          </div>
        </div>
        <div class="heading_crises">

        </div>
      </div>
      <!-- <div class="i_2 i_comoon">
        <img src="assets/failbook.jpg" class="i_img">
      </div> -->
      <div class="i_3 i_comoon">
        <div class="list_sublist">
          <img src="assets/nishan.jpg" class="i_img">
          <div class="i_face_fail">Nissan's Boss Gets Arrested</div>
          <div class="i-details_crises_content">
            Even by Japan's storied standards of corporate malfeasance, the scandal at Nissan Motor deserves special
            mention — combining, as it does, financial wrongdoing, political intrigue and hubris to almost unparalleled
            effect. Now relegated to a tiny cell in Tokyo,
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
<section>
  <div class="app_main_container">
    <div class="main_container" id="banner_main">
      <div class="banner_content">
        <img
          src="https://static.wixstatic.com/media/68ee8b_bfb661bbcfda44528c5e6cf3f21fb2b2~mv2.jpg/v1/fill/w_92,h_120,al_c,q_80,usm_0.66_1.00_0.01/68ee8b_bfb661bbcfda44528c5e6cf3f21fb2b2~mv2.webp">
        <div class="main_title">Crisis Simulation System
        </div>
        <div class="subheading_main">Need to check your
          crisis resilience?
        </div>
        <div class="subheading_main">We can do that. Fast.
        </div>
      </div>
      <div class="timer-content" id="timer">
        <div class="headtext" id="text1"></div>
      </div>
    </div>

    <div class="i_main_container" id="details_container">
      <app-feature></app-feature>
    </div>
  </div>
</section>
<section>
  <app-crises></app-crises>
</section>


<router-outlet></router-outlet>
