.i_feature_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 3rem;


  .i_feature_heading_title {
    margin-bottom: 2rem;

    h1 {
      font-size: 33px;
      color: #020814;
      letter-spacing: -0.04em;
      margin-bottom: 7px;
      font-family: coconfont-regular;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: #747da1;
      letter-spacing: -0.04em;
      margin-bottom: 7px;
      font-family: coconfont-regular;
      margin-bottom: 10px;
    }
  }

  .i_feature_box_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .i_feature_box_1 {
      background: #ffffff;
      box-shadow: 0 15px 18px rgba(156, 156, 156, 0.15);
      border-radius: 8px;
      padding: 3.4375rem 1rem 1.25rem 1rem;
      position: relative;
      margin: 0px 10px;
      width: calc(100% / 3 - 20px);
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        margin-bottom: 2rem;
      }

      .i_feature_title {
        color: #1d274e;
        font-size: 1.15rem;
        font-weight: bold;
        font-family: coconfont-regular;
        margin: 0px;
        margin-bottom: 0.75rem;
        letter-spacing: 1.5px;
        text-align: center;
      }

      .i_feature_descp {
        color: #747da1;
        font-size: 0.85rem;
        font-weight: 500;
        margin: 0px;
        font-family: "Poppins",
          sans-serif;
        text-transform: capitalize;
        text-align: center;
      }
    }
  }
}
