<div class="i_feature_main_container">
  <div class="i_feature_heading_title">
    <h1>67% of corporations believe they are not properly prepared
      to manage a social media crisis. (APACD Research, Q4, 2016)</h1>
    <p>Predict, mitigate and manage risk better through SONAR.</p>
  </div>
  <div class="i_feature_box_container">

    <div class="i_feature_box_1">
      <img src="assets/icon/f1.svg" />
      <div class="i_feature_title">Real-Time Resource</div>
      <div class="i_feature_descp"> Operates intuitively, fluidly and simply in any language.</div>
    </div>
    <div class="i_feature_box_1">
      <img src="assets/icon/f2.svg" />
      <div class="i_feature_title">Market Relevance
      </div>
      <div class="i_feature_descp"> Precise replication of social media environment in any geography.</div>
    </div>
    <div class="i_feature_box_1">
      <img src="assets/icon/f3.svg" />
      <div class="i_feature_title">As Real as it Gets
      </div>
      <div class="i_feature_descp"> War-room style set-up: allows participants to track controversy in real-time.</div>
    </div>
    <div class="i_feature_box_1">
      <img src="assets/icon/f4.svg" />
      <div class="i_feature_title">Skilled Advisory Team
      </div>
      <div class="i_feature_descp"> Experience communications and digital strategists work side-by-side with clients.
      </div>
    </div>
    <div class="i_feature_box_1">
      <img src="assets/icon/f3.svg" />
      <div class="i_feature_title">Added-Value Analysis
      </div>
      <div class="i_feature_descp"> Detailed analysis and reporting of corporate strengths and areas for improvement.
      </div>
    </div>
    <div class="i_feature_box_1">
      <img src="assets/icon/f4.svg" />
      <div class="i_feature_title">Upgraded Response
      </div>
      <div class="i_feature_descp"> Greatly improved speed of response in the event of a real issue or crisis.</div>
    </div>
  </div>
</div>
