<div class="i_crises_main_container">
  <div class="container">
    <div class="i_crises_box_container">
      <div class="i_crises_content">
        <h1>Need to check your crisis resilience? </h1>
        <p>We can do that. Fast. Predict, mitigate and manage risk better through SONAR.</p>
        <div class="btn_get_startted">Get Started</div>
      </div>
      <div class="i_crises_main">
        <div class="crises_even">
          <div class="i_crises_boxes_ev">
            <img src="assets/icon/service1.png" />
            <div class="i_feature_title">Title over here
            </div>
            <div class="i_feature_descp">Simulated multi-screen media, social media and stakeholder environment. As real
              as it gets.</div>
          </div>
          <div class="i_crises_boxes_ev">
            <img src="assets/icon/service2.png" />
            <div class="i_feature_title">Title over here
            </div>
            <div class="i_feature_descp"> Precisely designed real-life scenarios to test your people, planning and
              systems.</div>
          </div>
        </div>
        <div class="crises_even odd">
          <div class="i_crises_boxes_ev">
            <img src="assets/icon/service3.png" />
            <div class="i_feature_title">Title over here
            </div>
            <div class="i_feature_descp">Fast assessment of what is working and what needs improving or upgrading.</div>
          </div>
          <div class="i_crises_boxes_ev">
            <img src="assets/icon/service4.png" />
            <div class="i_feature_title">Title over here
            </div>
            <div class="i_feature_descp"> Precise replication of social media environment in any geography.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="i_our_clients">
  <div class="container">
    <h1>The following global corporate leaders have SONAR™
      as part of their risk management planning.
    </h1>
    <div class="i_our_clinet_list">

      <div class="i_list_name">
        <img src="assets/icon/client2.webp" />
      </div>
      <div class="i_list_name">
        <img src="assets/icon/client1.webp" />
      </div>
      <div class="i_list_name">
        <img src="assets/icon/client3.webp" />
      </div>
      <div class="i_list_name">
        <img src="assets/icon/client2.webp" />
      </div>
      <div class="i_list_name">
        <img src="assets/icon/client1.webp" />
      </div>
      <div class="i_list_name">
        <img src="assets/icon/client3.webp" />
      </div>
      <div class="i_list_name">
        <img src="assets/icon/client1.webp" />
      </div>
      <div class="i_list_name">
        <img src="assets/icon/client2.webp" />
      </div>
      <div class="i_list_name">
        <img src="assets/icon/client3.webp" />
      </div>
      <div class="i_list_name">
        <img src="assets/icon/client2.webp" />
      </div>
      <div class="i_list_name">
        <img src="assets/icon/client1.webp" />
      </div>
      <div class="i_list_name">
        <img src="assets/icon/client2.webp" />
      </div>
    </div>
  </div>
</div>


<div class="i_request_demo">
  <div class="container">
    <h1>Can you afford not to be prepared?</h1>
    <div class="i_demo_container">
      <div class="i_demo_child_boxes">
        <div class="ttile_demo">Schedule your SONAR™ crisis simulation today.</div>
        <ul>
          <li>With more and more organisations getting it wrong, make sure you get it right.
          <li>Access experience and insight from Ruder Finn,</li>
          <li>Asia-Pacific’s leading digital risk management consultancy.</li>
        </ul>
        <div class="btn_request_for_demo">Request a Demo</div>
      </div>
      <div class="i_demo_child_boxes pp">
        <img src="assets/1.jpg" class="img-responsive" />
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="i_parent_footer">
      <div class="icon">
        <img src="assets/icon/footerlogo.webp" />
      </div>
      <div class="icon">©2017 Ruder Finn Asia. All rights reserved </div>
    </div>
  </div>
</div>
